/* https://color.adobe.com */

$colour__background__light: hsl(173, 83%, 97%);

$colour__text__dark: hsl(60, 3%, 27%);

$colour__primary__dark: hsl(258, 28%, 57%);

$colour__link__dark: hsl(346, 43%, 62%);
$colour__link__medium: hsl(346, 58%, 77%);
$colour__link__light: hsl(346, 73%, 87%);