$width__sm: 480px;
$width__lg: 960px;

$margin__xs: 8px;
$margin__sm: 16px;
$margin__md: 24px;
$margin__lg: 32px;
$margin__xl: 40px;

$breakpoint__xs: 321;
$breakpoint__sm: 481px;
$breakpoint__md: 769px;
$breakpoint__lg: 1025px;
$breakpoint__xl: 1281px;