@import '../constants/colours';

body {
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;

    color: $colour__link__dark;

    &:hover {
        color: $colour__link__medium;
    }

    &:active {
        color: $colour__link__light;
    }
}
